.fp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    gap: 20px;
}

.fpItem{
    flex:1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.fpImg{
    width: 100%;
    object-fit: cover;
    height: 250px;
}
.fpName {
    color: #333;
    font-weight: bold;
}

.fpCity {
    font-weight: 300;
}

.fpPrice {
    font-weight: 500;
}